{% extends "home/layout.html" %}

  {% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">All Accounts</li>
  {% endblock %}

{% block content %}
  <h1 >Account List</h1>
  {% include 'partials/messages.html' %}

  {% if all_accounts %}
  <ul class="list-group">
    {% for account in all_accounts %}
      <a style="text-decoration: none;" class="list-group-item list-group-item-action list-group-item-light" href="{{ account.get_absolute_url }}">
        <div class="p-3 mb-2">
          {{ account.title }}
        </div>
      </a> 
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no account in the app.</p>
  {% endif %} 

  <div class="m-2 col-md-2">
    <a href="{% url 'add-account' %}" class="btn btn-primary l-bg-blue-dark"> 
      <i class="bi bi-plus-circle"></i>
      Add Account</a>
  </div>
{% endblock %}
