{% extends "home/layout.html" %}

{% load static %}
{% block breadcrumb %}
 
  <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">All Transaction</li>

  {% endblock %}

{% block content %}
 <h1>Transaction List</h1>
 
  {% include 'partials/messages.html' %}

  {% if page_obj %}

  <div class="row">
    <div class="col">
      <div class="card card-body">
        <form action="{% url 'search_results' %}" method="get">
          
          <div class="row">

            <div class="col">
              <input class="form-control form-control-sm" type="text" placeholder="Search Bar" name='search'>
            </div>

            <div class="col">
              <input class="form-control form-control-sm btn-sm btn-info l-bg-blue-dark"  type="submit" name="" value="Search" id="">
            </div>

          </div>
     


        </form>
      </div>
    </div>
  </div>
  <!-- <div class="container mt-100">
    <div class="card">
        <div class="row">
            <div class="col-md-4"> <label>From</label> <input type="text" class="form-control"> </div>
            <div class="col-md-4"> <label>To</label> <input type="text" class="form-control"> </div>
            <div class="col-md-4"> <label>Search</label> <button class="btn btn-primary pro-button w-100">Add a trip <i class="fa fa-plane ml-2"></i></button> </div>
        </div>
    </div>
</div> -->

  <div class="row">
    <div class="col">
      <div class="card card-body">
        <form action="{% url 'date_range'%}" method="post" class="align-right">
          {% csrf_token %}
          <div class="row">
            <div class="col" >
              <input class="form-control form-control-sm" id="sdatepicker" type="text" placeholder="From Date" name='start'>
            </div>

            <div class="col">
              <input  class="form-control form-control-sm" id="edatepicker" placeholder="To Date" type="text" name='end'>
            </div>

            <div class="col" >
              <input class=" form-control form-control-sm btn btn-info l-bg-blue-dark" type="submit" name="date_range"  id="">
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>

  
  
  <table class="table table-hover">
    <thead class="l-bg-blue-dark">

      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Reference Number</th>
        <th scope="col">Details</th>
        <th scope="col">From Account</th>
        <th scope="col">To Account</th>
        <th scope="col">Amount</th>
        <!-- <th scope="col">Debit</th> -->
        <!-- <th scope="col">Balance</th> -->
        <th scope="col">Slip</th>
      </tr>
    </thead>
    <tbody>
      {% for trans, balnc in zippedList %}
      <tr>
        <th>{{forloop.counter}}</th>
        <td scope="row">{{ trans.transaction_date | date:"F d Y" }}</td>
        <td>{{ trans.refernce_number }}</td>
        <td>{{ trans.transaction_detail }}</td>
        <td>{{ trans.account }}</td>
        <td>{{ trans.bank }}</td>
        <td>
          
          {{ trans.amount }}
          
        </td>
        <!-- <td class="text-danger ">
          
          {{ trans.amount }}
          
        </td>

        <td >
          {{ balnc }}
        </td> -->
        <td><a style="text-decoration: none;" class="link-dark" href="{{ trans.get_absolute_url }}"> 
          <div class="p-0 mb-1 bg-secondary btn ">
          View
        </div> </a></td>

        
      </tr>

      {% endfor %}
    </tbody>
    {% if not page_obj.has_next %}
    
    <!-- <tfoot>
      
    <tr>
       
      <td colspan="4">TOTAL CREDIT/DEBIT:</td>
      <td colspan="1">{{total_credit}}</td>
      <td colspan="1" class="text-danger">{{total_debit}}</td>
      <td colspan="2"></td>

    </tr>
    
    <tr>
       
      <td colspan="6">TOTAL BANK:</td>
      <td colspan="2">{{total_bank_balance}}</td>
      
    </tr>

    <tr>
       
      <td colspan="6">TOTAL CLEARING:</td>
      <td colspan="2">{{total_clearing}}</td>
      
    </tr>

    <tr>
       
      <td colspan="6">TOTAL HAWALA:</td>
      <td colspan="2">{{total_hawala}}</td>
      
    </tr>
  </tfoot> -->

  {% endif %}
  
  </table>
     
  <div class="col-md-2">
    <a href="{% url 'add-transaction' %}" class="btn btn-primary l-bg-blue-dark">
      <i class="bi bi-plus-circle"></i>   
         Add Transaction</a>
  </div>


  <div class="col-4 offset-4">
    <nav aria-label="...">
      <ul class="pagination">
  
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
          </li>
          <li>
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
              {{ page_obj.previous_page_number }}
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
        {% endif %}
  
        <li class="page-item active">
          <span class="page-link">{{ page_obj.number }}</span>
        </li>
  
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
              {{ page_obj.next_page_number }}
            </a>
          </li>
          <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">Next</span>
          </li>
        {% endif %}
  
      </ul>
    </nav>
  </div>

  {% else %}

  <p>There are no transactions in the app.</p>




{% endif %} 



{% endblock %}