{% extends "home/layout.html" %}

{% block content %}
  <h1>Add Account</h1>



    <div class="card">
      <div class="card-body">
        <form action="{% url 'add-account' %}" method="POST">
          {% include 'partials/messages.html' %}
          {% csrf_token %}

        <div class="form-group">
          <label for="">Date</label>
          <input type="date"  class= "form-control form-control-sm" name = "date_created" value="{{values.date_created}}">        
        </div>

        <div class="form-group">
          <label for="">Title</label>
          <input type="text" class= "form-control form-control-sm" name = "title" value="{{values.title}}">        
        </div>

        <div class="form-group">
          <label for="">Phone Number</label>
          <input type="number" class="form-control form-control-sm" name = "phone_number" value="{{values.phone_number}}">        
        </div>

        <div class="form-group">
          <label for="">Address</label>
          <input type="text" class="form-control form-control-sm" name = "address" value="{{values.address}}">        
        </div>

        <div class="form-group">
          <label for="">Book</label>
          <select name="book" id="" class="form-control form-control-sm">
            {% for book in books %}
            
            <option name="book"  value="{{book.book_type}}">{{book}}</option>
            {% endfor %}
          </select>       
        </div>

        <div class="form-group">
          <label for="">Amount Type</label>
          <select name="transaction_type" id="" class="form-control form-control-sm"> 
            <option name="transaction_type" value="{{credit}}">{{credit}}</option>
            <option name="transaction_type" value="{{debit}}">{{debit}}</option>  
            <option name="transaction_type" value="{{none}}">{{none}}</option>  

          </select>                   
        </div>

        <div class="form-group">
          <label for="">Opening Balance</label>
          <input type="number" class="form-control form-control-sm" name = "amount">        
        </div>

        <input type="submit" value="submit" class="l-bg-blue-dark btn btn-primary mt-2">
      </form>

      </div>

    </div>
    

  
{% endblock %}