{% extends "home/layout.html" %}

{% block content %}
  <h1>Edit Transaction</h1>

  

    <div class="card">
      <div class="card-body">
        <form action="{% url 'edit-transaction' transaction.id %}" method="POST" enctype="multipart/form-data">
          {% include 'partials/messages.html' %}
          {% csrf_token %}
          
        
          
        <div class="form-group">
          <label for="">Date</label>
          <input type="date" class= "form-control form-control-sm" name = "transaction_date"  value="{{values.transaction_date}}">        
        </div>

        <div class="form-group">
            <label for="">Reference Number</label>
            <input type="text" class= "form-control form-control-sm"  name = "refernce_number" value="{{values.refernce_number}}">        
          </div>

        <div class="form-group">
          <label for="">Details</label>
          <input type="text" class= "form-control form-control-sm" name = "transaction_detail" value="{{values.transaction_detail}}">        
        </div>

        <div class="form-group">
            <label for="">Credit Account</label>
            <select name="account" id="" class="form-control form-control-sm">
                <option name="account" value="{{values.account.id}}">{{values.account}}</option>
                {% for account in all_accounts %}
              <option name="account" value="{{account.id}}">{{account}}</option>
              {% endfor %}  
            </select>       
          </div>

          <div class="form-group">
            <label for="">Debit Account</label>
            <select name="bank" id="" class="form-control form-control-sm">
                <option name="account" selected value="{{values.bank.id}}">{{values.bank}}</option>
                {% for account in all_accounts %}
              <option name="account" value="{{account.id}}">{{account}}</option>
              {% endfor %}
             
            </select>       
          </div>

          <div class="form-group">
            <label for="">Transactions Type</label>

            <select name="transaction_type" id="" class="form-control form-control-sm"> 
            <option name="transaction_type" selected value="{{values.transaction_type}}">{{values.transaction_type}}</option>
            <option name="transaction_type" value="{{credit}}">{{credit}}</option>
            <option name="transaction_type" value="{{debit}}">{{debit}}</option>  
            <option name="transaction_type" value="{{none}}">{{none}}</option>  

            </select>                   
          </div>

          <div class="form-group">
            <label for="">Amount</label>
            <input type="number" class="form-control form-control-sm" name = "amount" value="{{values.amount}}">        
          </div>

          <div class="form-group">
            <label for="">Slip</label>
            <input type="file" class="form-control form-control-sm" alt="No Image" name = "slip" value="{{values.slip}}">        
          </div>

        <input type="submit" value="save" class="btn btn-primary mt-2">
      </form>

      </div>

    </div>
    

  
{% endblock %}