<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Export</title>
   
    <style>
        

        table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
  font-size:11px
}

table.center {
  margin-left: 0;
  margin-right: 0;
}
th, td {
  padding: 1px  ;
}


        @page{
            size: 'A4';
            margin: 2.5cm, 1.5cm, 3.5cm, 1.5cm;
        
        

            @bottom-right{
                content: "Page " counter(page)  " of " counter(pages); 
            }
        }


    </style>
</head>

<body>

    <div style="line-height: 0.1;">
        <h2 style="font-family: Arial, Helvetica, sans-serif;">{{Campany_name}}</h2>
        <p style="font-size: 11px; font-family: Arial, Helvetica, sans-serif;">{{tagline}}</p>
    </div>
    <br>
    <div style="border: 1px black solid; width: 300px; line-height: 0.3; height: 100px; font-size: 11px;">
        <p style="margin-left: 5px;">Title: {{account.title}}</p>
        <p style="margin-left: 5px;">Accoun No: {{account.id}}</p>
        <p style="margin-left: 5px;">Address: {{account.address}}</p>
        <p style="margin-left: 5px;">Phone: {{account.phone_number}}</p>
        <p style="margin-left: 5px;">Date: {{account.date_created}}</p>
        <p style="margin-left: 5px;">From Date: {{start}}  To  {{end}}</p>

        
    </div>
<br>
    {% if transactions %}

  
  <table class="table" style="width:700px">
    
    <thead class="thead">

      <tr>
        <th colspan="1">Date</th>
        <th colspan="1">Reference#</th>
        <th colspan="5">Details</th>
        <th colspan="1">Account</th>
        <th colspan="1">Credit</th>
        <th colspan="1">Debit</th>
        <th colspan="1">Balance</th>
        
      </tr>
    </thead>
    <tbody>
        {% for trans, item in list %}
        {% if trans.transaction_date|date:"Ymd" >= start|date:"Ymd" and trans.transaction_date|date:"Ymd" <= end|date:"Ymd"  %}      

        <tr>
          <th colspan="1" scope="row">{{ trans.transaction_date | date:"F d Y" }}</th>
          <td colspan="1">{{ trans.id }}</td>
          <td colspan="5">{{ trans.transaction_detail }}</td>
          <td colspan="1">
            {% if trans.account ==  account %}  
                {{ trans.bank }}
            {% else %}
                {{ trans.account }}
            {% endif %}    

            </td>
          <td colspan="1">
            {% if trans.account == account and trans.bank == none and trans.transaction_type == credit%}
                {{ trans.amount }}
            {% endif %}

            {% if trans.account == account and trans.bank != none %}
              {{ trans.amount }}
            {% endif %}
  
          </td>
          <td colspan="1" style="color: red;">
            {% if trans.account == account and trans.bank == none and trans.transaction_type == debit %}
              {{ trans.amount }}
            {% endif %}

            {% if trans.bank == account and trans.account != none %}
              {{ trans.amount }}
            {% endif %}
        </td>

        <td colspan="1" >{{ item }}</td>

  
        </tr>



      {% endif %}
      {% endfor %}
    </tbody>
    {% if trans.transaction_date|date:"Ymd" >= start|date:"Ymd" and trans.transaction_date|date:"Ymd" <= end|date:"Ymd"  %}      

    <tfoot>
      <tr>
       
        <td colspan="8">TOTAL CREDIT/DEBIT:</td>
        <td colspan="1">{{total_credit}}</td>
        <td colspan="1" style="color: red;">{{total_debit}}</td>
        
  
      </tr>
    </tfoot>
    
    {% endif %}
  
  
  </table>

    {% else %}

  <p>There are no transactions between selected dates.</p>




{% endif %} 
</body>
</html>