{% extends "home/layout.html" %}

{% block breadcrumb %}
 
  <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Search</li>

  {% endblock %}

{% block content %}
  <h1>Result</h1>

  {% include 'partials/messages.html' %}
  {% if aTDRange %}

  <p>Date: {{start}}  to {{end}}</p>
  <p>CTotal: {{cT}}</p>
  <p>DTotal: {{dT}}</p>
  <table class="table table-hover">
    <thead class="l-bg-blue-dark">

      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Details</th>
        <th scope="col">Account</th>
        <th scope="col">Credit</th>
        <th scope="col">Debit</th>
        <th scope="col">Balance</th>
        <th scope="col">Slip</th>
      </tr>
    </thead>
    <tbody>
      {% for balance , trans in list %}     
       <tr>
        <th scope="col">{{forloop.counter}}</th>
        <td scope="row">{{ trans.transaction_date  | date:"F d Y" }}</td>
        <td>{{ trans.transaction_detail }}</td>
        <td>{% if trans.account ==  account %}  
          {{ trans.bank }}
      {% else %}
          {{ trans.account }}
      {% endif %}  </td>
        
        <td>
          {% if trans.account == account and trans.bank == none and trans.transaction_type == credit%}
          {{ trans.amount }}
      {% endif %}

      {% if trans.account == account and trans.bank != none %}
        {{ trans.amount }}
      {% endif %}
        </td>
        <td class="text-danger ">
          {% if trans.account == account and trans.bank == none and trans.transaction_type == debit %}
              {{ trans.amount }}
            {% endif %}

            {% if trans.bank == account and trans.account != none %}
              {{ trans.amount }}
            {% endif %}
        </td>

        <td>
         
          {{ balance }}

          </td>
        <td><a style="text-decoration: none;" class="link-light" href="{{ trans.get_absolute_url }}"> 
          <div class="p-0 mb-2 bg-dark bg-gradient ">
          Slip {{trans.id}}
        </div> </a></td>

      
      </tr>
      {% endfor %}
    
    </tbody>

    <!-- <tfoot>
      <tr>
       
        <td colspan="4">TOTAL CREDIT/DEBIT:</td>
        <td colspan="1">{{total_credit}}</td>
        <td colspan="1" class="text-danger">{{total_debit}}</td>
        <td colspan="2">
          {{ range_balance_list|last }}
        </td>
  
      </tr>
    </tfoot> -->
  
  
  </table>

  <a href="{% url 'acc-export-pdf' id start end %}" class="btn btn-info l-bg-blue-dark">
      Print
  </a>
    {% else %}

  <p>There are no transactions in the app.</p>




{% endif %} 



{% endblock %}