{% extends "home/layout.html" %}

{% block breadcrumb %}
 
  <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Search</li>

  {% endblock %}

{% block content %}
  <h1>Search Result</h1>

  {% include 'partials/messages.html' %}

  {% if search_result %}

  
  <table class="table table-hover">
    <thead class="l-bg-blue-dark">

      <tr>
        <th scope="col">Date</th>
        <th scope="col">Reference Number</th>
        <th scope="col">Details</th>
        <th scope="col">From Account</th>
        <th scope="col">To Account</th>
        <th scope="col">Amount</th>
        <!-- <th scope="col">Debit</th>
        <th scope="col">Balance</th> -->
        <th scope="col">Slip</th>
      </tr>
    </thead>
    <tbody>
      {% for trans in search_result %}
      <tr>
        <th scope="row">{{ trans.transaction_date }}</th>
        <td>{{ trans.refernce_number }}</td>
        <td>{{ trans.transaction_detail }}</td>
        <td>{{ trans.account }}</td>
        <td>{{ trans.bank }}</td>
        <td>
          {{ trans.amount }}
          <!-- {% if trans.transaction_type == credit  %}
          {{ trans.amount }}
          {% endif %} -->
        </td>
        <!-- <td class="text-danger ">
          {% if trans.transaction_type == debit  %}
          {{ trans.amount }}
          {% endif %}
        </td> -->

        <!-- <td >
          {{ trans.balance_after_transaction }}
        </td> -->
        <td><a style="text-decoration: none;" class="link-dark" href="{{ trans.get_absolute_url }}"> 
          <div class="p-0 mb-1 bg-secondary btn ">
          View
        </div> </a></td>

        
      </tr>

      {% endfor %}
    </tbody>

  
  
  </table>
    {% else %}

  <p>There are no transactions in the app.</p>




{% endif %} 



{% endblock %}