{% extends "home/layout.html" %}
{% block breadcrumb %}

  <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
  <li class="breadcrumb-item " aria-current="page"><a href="{% url 'account' %}">All Accounts</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{account.title}}</li>
  {% endblock %}
{% block content %}
{% include 'partials/messages.html' %}
<div class="card text-center">
  <div class="card-header">{{ account.id }}</div>
  <div class="card-body">
      <h5 class="card-title">Title: {{ account.title }}</h5>
      <!-- <p class="card-text">Type: {{ account.book }}</p> -->
      <p class="card-text">Phone: {{ account.phone_number }}</p>
      <p class="card-text">Address: {{ account.address }}</p>
      <p class="card-text">Balance: {{ account.balance }}</p>

      <!-- <a href="#" class="btn btn-primary">Know more</a> -->
  </div>
  <div class="card-footer text-muted"> {{ account.date_created }} </div>
</div>  

<!-- <h1>Title: {{ account.title }}</h1> -->
  
  <!-- <div class="card text-dark bg-dark border-info mb-3" style="max-width: 35rem;"> -->
    <!-- <div class="card body"> -->

      <!-- <div class="row ml-2">
        <div class="col-9 gx-5"> -->

          <!-- <p class="text-start "><strong>ID:</strong> <a href="">{{ account.id }}</a></p>  -->
          <!-- <p class="text-center"><strong>{{ account.title }}</strong> </p> -->

        <!-- </div>

        <div class="col-4">

          <p class="text-center"><strong>Title:</strong> {{ account.title }}</p>
          <p  class="text-center"><strong>Type:</strong> {{ account.book }} </p>
          <p class="text-center"><strong>Balance:</strong> {{ account.balance }}</p>

        </div> -->
        <!-- <div class="col-6 ">
          <p class="text-end" ><strong>Phone no:</strong> {{ account.phone_number }}</p>
          <p class="text-end"><strong>Address:</strong> {{ account.address }}</p>
          <p class="text-end"><strong>Date Created:</strong></p>

        </div>
      </div>
    </div>

  </div> -->

  <div class="row">
    <div class="col">
      <div class="card card-body">
        <form action="{% url 'date_range_account' id %}" method="post" class="align-right">
          {% csrf_token %}
          <div class="row">
            <div class="col" >
              <input class="form-control form-control-sm" id="sdatepicker"  placeholder="From Date" type="text" name='start'>
            </div>

            <div class="col">
              <input  class="form-control form-control-sm" id="edatepicker" placeholder="To Date"  type="text" name='end'>
            </div>

            <div class="col" >
              <input class=" form-control form-control-sm btn btn-info l-bg-blue-dark" type="submit" name="date_range"  value="Submit" id="">
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Transactions</h4>

    {% if transactions %}

  <table class="table table-hover">
    <thead class="l-bg-blue-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Details</th>
        <th scope="col">Account</th>
        <th scope="col">Credit</th>
        <th scope="col">Debit</th>
        <th scope="col">Balance</th>
        <th scope="col">Slip</th>
      </tr>
    </thead>
    <tbody>
      
    {% for trans, item in list %}

          
        <tr>
          <th>{{forloop.counter}}</th>
          <td scope="row">{{ trans.transaction_date | date:"F d Y" }}</td>
         
          <td>{{ trans.transaction_detail }}</td>
          <td>
            {% if trans.account ==  account %}  
                {{ trans.bank }}
            {% else %}
                {{ trans.account }}
            {% endif %}    

            </td>
          <td>
            {% if trans.account == account and trans.bank == none and trans.transaction_type == credit%}
                {{ trans.amount }}
            {% endif %}

            {% if trans.account == account and trans.bank != none %}
              {{ trans.amount }}
            {% endif %}
  
          </td>
          <td class="text-danger">
            {% if trans.account == account and trans.bank == none and trans.transaction_type == debit %}
              {{ trans.amount }}
            {% endif %}

            {% if trans.bank == account and trans.account != none %}
              {{ trans.amount }}
            {% endif %}
        </td>

        <td>{{ item }}</td>
          <td><a style="text-decoration: none;" class="link-dark" href="{{ trans.get_absolute_url }}"> 
            <div class="p-0 mb-2 bg-secondary btn ">
            View
          </div> </a></td>
  
        </tr>

    {% empty %}

    <p>No Transactions</p>    
   

    
    {% endfor %}


    {% else %}
    <p>There are no transactions in the app.</p>
  {% endif %} 
    </tbody>

  </table>
  </div> 
{% endblock %}