{% extends "home/layout.html" %}

{% block breadcrumb %}

  <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
  <li class="breadcrumb-item " aria-current="page"><a href="{% url 'book' %}">All Books</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{book.book_title}}</li>
  {% endblock %}
{% block content %}
  <h1>Title: {{ book.book_title }}</h1>

  <p><strong>ID:</strong> <a href="">{{ book.id }}</a></p> 
  <p><strong>Title:</strong> {{ book.book_title }}</p>
  <p  ><strong>Type:</strong> {% if book.book_type == '1' %} Simple {% elif book.book_type == '2' %} Clearing {% elif book.book_type == '3' %}  Hawala {% elif book.book_type == '4' %} Bank {% elif book.book_type == '5' %} Lahore {% else %} None{% endif %} </p>
  <p><strong>Date Created:</strong> {{ book.book_created_date }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Accounts in Book</h4>
    
    {% for account in type %}
     
    <a style="text-decoration: none;" class="link-light" href="{{ account.get_absolute_url }}">
      <div class="p-3 mb-2 bg-dark bg-gradient ">
        {{ account.title }}
      </div>
    </a> 
  </a> 
  <a href="{% url 'edit-book' book.id %}" class="btn btn-secondary">Edit</a>

    {% empty %}

    <p>No Accounts</p>  
    <a href="{% url 'edit-book' book.id %}" class="btn btn-secondary">Edit</a>
  
    {% endfor %}

    
  </div> 
{% endblock %}